<div fxLayout fxLayoutAlign="center" fxLayoutGap="20px" class="new-training">
 <form #form="ngForm" (ngSubmit)="onStartTraining(form.value.selectedExercise)">
  <mat-card fxFlex="400px" fxFlex.xs="100%">
    <mat-card-title fxLayoutAlign="center">
      Start new workout!
    </mat-card-title>

    <mat-card-content fxLayoutAlign="center">
          <mat-form-field>
              <mat-label>Choose exercise</mat-label>
              <mat-select name="selectedExercise" ngModel required>
                <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                  {{ exercise.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="center">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid">Start</button>
    </mat-card-actions>
  </mat-card>
</form>
</div>
